<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166241499-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166241499-1');
</script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>MajorMinors</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

<!-- Font Awesome -->
<link rel="stylesheet" href="{{ url_for('static', filename='template/plugins/fontawesome-free/css/all.min.css') }}">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Tempusdominus Bbootstrap 4 -->
<link rel="stylesheet" href="{{ url_for('static', filename='template/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.c') }}ss">
  <!-- iCheck -->
  <link rel="stylesheet" href="{{ url_for('static', filename='template/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- JQVMap -->
  <link rel="stylesheet" href="{{ url_for('static', filename='template/plugins/jqvmap/jqvmap.min.css') }}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='template/dist/css/adminlte.min.css') }}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{{ url_for('static', filename='template/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{{ url_for('static', filename='template/plugins/daterangepicker/daterangepicker.css') }}">
  <!-- summernote -->
  <link rel="stylesheet" href="{{ url_for('static', filename='template/plugins/summernote/summernote-bs4.css') }}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=1" type="text/css">

<script src="{{ url_for('static', filename='js/async.js') }}" type="text/javascript"></script>

{% block head %}{% endblock %}
</head>
<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ url_for('index.index') }}" class="nav-link">Homepage</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{ url_for('contact.contact') }}" class="nav-link">Contactos</a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <!--<form action="{{ url_for('search.search') }}" class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Pesquisar" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>-->

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
    <!-- Messages Dropdown Menu -->
    <li class="nav-item">
         <div class="user-panel d-flex">
            <div class="image">
              <img src="{{ url_for('static', filename='images/uminho_16x160.png') }}" class="img-circle" alt="Universidade do Minho">
            </div>
            <div class="info">
              <a href="#" class="d-block">Universidade do Minho</a>
            </div>
          </div>
    </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ url_for('index.index') }}" class="brand-link">
      <img src="{{ url_for('static', filename='images/logotipo.png') }}" alt="MajorMinor" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-normal">MajorMinors</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          
         <li class="nav-item">
            <a href="{{ url_for('index.index') }}" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Homepage
              </p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Sobre o Projeto
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ url_for('presentation.presentation') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Apresentação</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('contact.contact') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Contactos</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Minorias
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ url_for('minorities.minorities', minority='refugiados') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Refugiados</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('minorities.minorities', minority='mulheres') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Mulheres</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('minorities.minorities', minority='homossexuais') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Homossexuais</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('minorities.minorities', minority='animais') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Animais</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('minorities.minorities', minority='africanos') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Africanos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('minorities.minorities', minority='asiáticos') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Asiáticos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('minorities.minorities', minority='ciganos') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ciganos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('minorities.minorities', minority='migrantes') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Migrantes</p>
                </a>
              </li>
            </ul>
          </li>

          <!--<li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Referências
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ url_for('data.data', data='profissões') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Pessoas</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('data.data', data='profissões') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Lugares</p>
                </a>
              </li>
             <li class="nav-item">
                <a href="{{ url_for('data.data', data='profissões') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Palavras-chave</p>
                </a>
              </li>
             <li class="nav-item">
                <a href="{{ url_for('data.data', data='profissões') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Partidos Políticos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('data.data', data='profissões') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Tempo</p>
                </a>
              </li>
             <li class="nav-item">
                <a href="{{ url_for('data.data', data='profissões') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Animais</p>
                </a>
              </li>
             <li class="nav-item">
                <a href="{{ url_for('data.data', data='profissões') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Religiões</p>
                </a>
              </li>
             <li class="nav-item">
                <a href="{{ url_for('data.data', data='profissões') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Étnias</p>
                </a>
              </li>
             <li class="nav-item">
                <a href="{{ url_for('data.data', data='profissões') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Entidades</p>
                </a>
              </li>
             <li class="nav-item">
                <a href="{{ url_for('data.data', data='profissões') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Profissões</p>
                </a>
              </li>
            </ul>
          </li>-->

          <!--<li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Sentiment Analysis
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ url_for('sentiment.sentiment', minority='refugiados') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Refugiados</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('sentiment.sentiment', minority='mulheres') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Mulheres</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('sentiment.sentiment', minority='animais') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Animais</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('sentiment.sentiment', minority='africanos') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Africanos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('sentiment.sentiment', minority='asiáticos') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Asiáticos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('sentiment.sentiment', minority='ciganos') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ciganos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('sentiment.sentiment', minority='migrantes') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Migrantes</p>
                </a>
              </li>
            </ul>
          </li>-->

          <li class="nav-item has-treeview">
            <a href="{{ url_for('webvowl.webvowl') }}" class="nav-link">
              <i class="nav-icon fas fa-database"></i>
              <p>
                Ontologia
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ url_for('ontology.ontology') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Estrutura</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ url_for('sparql.sparql') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Consultas SPARQL</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="{{ url_for('search.search') }}" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Pesquisa Guiada
              </p>
            </a>
          </li>

          <li class="nav-header">BASES DE DADOS</li>
          <li class="nav-item">
            <a href="{{ url_for('articles.articles') }}" class="nav-link">
              <i class="nav-icon fas fa-book"></i>
              <p>
                Artigos
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('images.images') }}" class="nav-link">
              <i class="nav-icon far fa-image"></i>
              <p>
                Imagens
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('comments.comments') }}" class="nav-link">
              <i class="nav-icon far fa-comment"></i>
              <p>
                Comentários
              </p>
            </a>
          </li>
          <li class="nav-header">ANEXOS</li>
          <li class="nav-item">
            <a href="{{ url_for('film.film') }}" class="nav-link">
              <i class="nav-icon fas fa-film"></i>
              <p>Vídeo</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('science.science') }}" class="nav-link">
              <i class="nav-icon fas fa-flask"></i>
              <p>Produção Científica</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    {% if title and title != "Homepage": %}
    <!-- Content Header (Page header) -->
    <div class="content-header pr-5 pl-5">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark main-title">{{title}}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for('index.index') }}">Home</a></li>
              <li class="breadcrumb-item active">{{title}}</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    {% endif %}

    <!-- Main content -->
    <!--<section class="content">
      <div class="container-fluid p-5">
      </div>
    </section>-->

    {% block content %}{% endblock %}

  </div>
  <!-- /.content-wrapper -->

<a id="back-to-top" href="#top" class="btn btn-dark back-to-top" role="button" title="Go top" data-toggle="tooltip" data-placement="left"><span class="fas fa-arrow-alt-circle-up"></span></a>







<footer class="main-footer">

  <div class="footer-logotipos">

<div class="container-fluid">
<div class="content">  
  <section class="row p-0">
    <section class="col-lg-2 pl-5 pt-3 pb-3 pr-0 text-right" style="margin-top:15px;">

      <img src="{{ url_for('static', filename='images/icons/logo-128px.png')}}" class="logo-footer">
      <!--<p class="lead text-right" style="color:#F8F8FF;font-weight:bold;font-style: italic;margin-top:10px;">MAJOR MINORS</p>-->

    </section>

    <section class="col-lg-9 pl-5 pt-3 pb-3 pr-0 text-left">
          <div class="footer-sponsors img-title">
            <p class="lead">PARCEIROS:</p>
              <a href="https://www.uminho.pt/PT" target="_blank" title="Universidade do Minho"><img src="{{ url_for('static', filename='images/logotipos/sponsor-uminho.png')}}" class="hover-effect"></a><!--
              --><a href="https://www.di.uminho.pt/" target="_blank" title="Departamente do Informática da Universidade do Minho"><img src="{{ url_for('static', filename='images/logotipos/logo-di.png')}}" class="hover-effect"></a><!--
              --><a href="http://www.ilch.uminho.pt/" target="_blank" title="Instituto de Letras e Ciências Humanas da Universidade do Minho"><img src="{{ url_for('static', filename='images/logotipos/sponsor-ilch.png')}}" class="hover-effect"></a><!--
              --><a href="http://www.ilch.uminho.pt/" target="_blank" title="Centro de Estudos Humanísticos da Universidade do Minho"><img src="{{ url_for('static', filename='images/logotipos/sponsor-cehum.png')}}" class="hover-effect"></a><!--
              --><a href="http://www.fct.pt/" target="_blank" title="Fundação para a Ciência e a Tecnologia"><img src="{{ url_for('static', filename='images/logotipos/logo-fct.png')}}" class="hover-effect"></a><!--
              --><a href="https://retratorepresentacao.wixsite.com/girr" target="_blank" title="Grupo de Investigação em Identidade(s) e Intermedialidade(s)"><img src="{{ url_for('static', filename='images/logotipos/logo-grupo2i.png')}}" class="hover-effect"></a><!--
              --><a href="http://ceh.ilch.uminho.pt/ghd/" target="_blank" title="Grupo de Investigação em Humanidades Digitais"><img src="{{ url_for('static', filename='images/logotipos/logo-ghd.png')}}" class="hover-effect"></a><!--
              <a href="http://www.pofc.qren.pt/" target="_blank" title="COMPETE"><img src="{{ url_for('static', filename='images/logotipos/sponsor-compete.png')}}" class="hover-effect"></a>
              <a href="http://www.qren.pt/np4/home" target="_blank" title="QREN"><img src="{{ url_for('static', filename='images/logotipos/sponsor-qren.png')}}" class="hover-effect"></a>
              <a href="http://europa.eu/" target="_blank" title="EU"><img src="{{ url_for('static', filename='images/logotipos/sponsor-ue.png')}}" class="hover-effect"></a>
            -->
          </div>

          <div class="footer-sponsors img-title" style="margin-top:20px;">
            <p class="lead">FONTES:</p>
              <a href="https://www.uminho.pt/PT" target="_blank" title="Arquivo.pt"><img src="{{ url_for('static', filename='images/logotipos/logo-arquivo-pt-50.png')}}" class="hover-effect"></a><!--
              --><a href="https://www.di.uminho.pt/" target="_blank" title="Jornal Público"><img src="{{ url_for('static', filename='images/logotipos/logo-publico-50.png')}}" class="hover-effect"></a>
          </div>

        </section>
  </section>
  </div>
  </div>
</div>


  <div class="footer-content">
      Copyright &copy; 2020 · Feito com <i class="fas fa-heart"></i> e <i class="fas fa-coffee"></i> na <a href="https://www.uminho.pt" target="_blank">Universidade do Minho</a>.
      Licença <a href="https://opensource.org/licenses/MIT" target="_blank">MIT</a>.
      <div class="float-right d-none d-sm-inline-block">
        <a href="https://www.python.org/" target="_blank">Python</a> powered
      </div>
  </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ url_for('static', filename='template/plugins/jquery/jquery.min.js') }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ url_for('static', filename='template/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{{ url_for('static', filename='template/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- ChartJS -->
<script src="{{ url_for('static', filename='template/plugins/chart.js/Chart.min.js') }}"></script>
<!-- Sparkline -->
<script src="{{ url_for('static', filename='template/plugins/sparklines/sparkline.js') }}"></script>
<!-- JQVMap -->
<script src="{{ url_for('static', filename='template/plugins/jqvmap/jquery.vmap.min.js') }}"></script>
<script src="{{ url_for('static', filename='template/plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script>
<!-- jQuery Knob Chart -->
<script src="{{ url_for('static', filename='template/plugins/jquery-knob/jquery.knob.min.js') }}"></script>
<!-- daterangepicker -->
<script src="{{ url_for('static', filename='template/plugins/moment/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='template/plugins/daterangepicker/daterangepicker.js') }}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{ url_for('static', filename='template/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<!-- Summernote -->
<script src="{{ url_for('static', filename='template/plugins/summernote/summernote-bs4.min.js') }}"></script>
<!-- overlayScrollbars -->
<script src="{{ url_for('static', filename='template/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for('static', filename='template/dist/js/adminlte.js') }}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{ url_for('static', filename='template/dist/js/pages/dashboard.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ url_for('static', filename='template/dist/js/demo.js') }}"></script>

<script src="{{ url_for('static', filename='js/charts.js') }}"></script>

<script>
$(document).ready(function(){
 $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
            $('#back-to-top').fadeIn();
        } else {
            $('#back-to-top').fadeOut();
        }
    });
    // scroll body to 0px on click
    $('#back-to-top').click(function () {
        $('#back-to-top').tooltip('hide');
        $('body,html').animate({
            scrollTop: 0
        }, 800);
        return false;
    });
    
    $('#back-to-top').tooltip('show');

});

//HOVER EFFECT
//$(".hover-effect").fadeTo('fast', 0.5);
$(".hover-effect").hover(function(){
  $(this).fadeTo('fast', 0.5);
},function(){
  $(this).fadeTo('fast', 1);
});

</script>

{% block end %}{% endblock %}


</body>
</html>
